<form id="createUser">
    <input type="text" placeholder="Nombre" name="name" id="name"  required>
    <input type="email" placeholder="Email" name="email" id="email" required>
    <input type="number" placeholder="Edad" name="edad" id="age" required>
    <button type="submit">Crear usuario</button>
</form>
<p id="errorMsg"></p>