<!DOCTYPE html>
<html>
<head>
	<title>Este es mi sitio: {{title}}</title>
	<link rel="stylesheet" type="text/css" href="resources/styles.css">
</head>
<body class={{className}}>
	{{{body}}}
</body>
</html>