<form action="/api/user">
    <input type="text" placeholder="Nombre" name="name" required>
    <input type="email" placeholder="Email" name="email" required>
    <button type="submit">Crear usuario</button>
</form>