<div class="lista">
    <table>
        <tr>
            <th>Usuarios</th>
        </tr>
        {{#each usuarios}}
            <tr>
                <td><a href="usuario/{{this}}">{{this}}</a></td>
            </tr>
        {{/each}}
    </table>

</div>