<div class="user-info">
    {{#user}}
    <div class="title">
        <strong>{{name}}</strong>
    </div>
    <div>
        <p><strong>email:</strong> {{email}}</p>
        <p><strong>edad:</strong> {{age}}</p>
    </div>
    {{/user}}
</div>
